src/main/resources/xsd/obreros.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.cibertec.edu.pe/ws/objects"
           targetNamespace="http://www.cibertec.edu.pe/ws/objects"
           elementFormDefault="qualified">

    <xs:element name="getSalaryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="horastrabajadas" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getSalaryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="salario" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>