src/main/resources/xsd/time.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.cibertec.edu.pe/ws/objects"
           targetNamespace="http://www.cibertec.edu.pe/ws/objects"
           elementFormDefault="qualified">

    <xs:element name="getMinutesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="seconds" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMinutesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="minutes" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>